<section class="project-details">
 @if (project(); as currentProject) {
  <section class="project-details">
    <p class="eyebrow">
      Project {{ currentProject.id }}
    </p>

    <h1>
      {{ currentProject.title }}
    </h1>

    <p>
      {{ currentProject.description }}
    </p>

    <div class="technologies">
      @for (
        technology of currentProject.technologies;
        track technology
      ) {
        <span>{{ technology }}</span>
      }
    </div>

    <div class="links">
      <a
        [href]="currentProject.githubUrl"
        target="_blank"
        rel="noopener noreferrer"
      >
        GitHub ↗
      </a>

      @if (currentProject.liveUrl) {
        <a
          [href]="currentProject.liveUrl"
          target="_blank"
          rel="noopener noreferrer"
        >
          Live Demo ↗
        </a>
      }
    </div>
  </section>
} @else {
  <p>Project not found.</p>
}
</section>